body {
	min-height: 100%;
	padding-top: 70px;
}
.usernav-default, .user-list {
	padding-top:10px;
	font-size:small;
	font-weight: normal;
	background: none;
	border: 1px solid transparent;
	border-radius: 2px;
	box-shadow: none;
	color: #111;
	background-color: transparent;
}
.usernav-default a, .user-list a {
	color: #c8c8c8 !important;
	text-decoration: none !important;
}
.usernav-default a:hover, .usernav-default a:active {
	color: #111 !important;
	text-decoration: none !important;
}
.usernav-default ul {
	list-style: none;
	margin:0;
	padding:0;
}
.usernav-default li {
	list-style: none;
	margin: 0 0 0 0;
	padding: 10px 15px;
	border : 0;
	float: left;
}
.user-list ul {
	list-style: none !important;
}
.user-list li {
	display: inline-block;
	width: 70px;
	height: 50px;
	margin: 10px;
}
.usernav-search{
	padding-top: 5px !important;
}
.search-padding {
	padding-top: 100px;
}
.search-wrapper {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #d8d8d8;
	background-color: rgba( 50, 50, 50, 0.7 );
}
.search-wrapper a {
	color: #fff !important;
	padding-bottom: 10px;
	text-decoration: none !important;
}
.search-wrapper a:hover {
	color: #44BC42 !important;
	text-decoration: none !important;
}
.search-wrapper a:active {
	color: #44BC42 !important;
	text-decoration: none !important;
	border-right: 5px solid transparent !important;
	border-left: 5px solid transparent !important;
	border-bottom: 5px solid #44bc42 !important;
}
.search-wrapper ul {
	list-style: none;
}
.search-wrapper li {
	list-style: none;
}
.login-person, .login-mart, .signup-person, .signup-mart {
	font-size: medium !important;
}
.top-padding {
	width: auto;
	padding-top: 20px;
}
.bottom-line {
	border-bottom: 6px solid #44bc42;
}
.inner-flow {
	background-color: #f1f1f1;
	height: 500px;
	position: fixed;
	overflow: auto;
}
.media-wrapper{
	background-color:#fff;
	box-shadow: 5px 5px 3px #aaaaaa;
}
.pad {
	padding: 10px;
}
.sub-cat{
	background-color: #44bc42;
	color: #fafafa;
	padding: 5px;
	padding-left: 10px;
}
.sub-cat small{
	color: #fff !important;
}
.bgc {
	background-color: #f1f1f1;
}
.div-wrap-s {
	background-color: #fff;
	border-top: 5px solid #44bc42 !important;
	border-left: 1px solid #cacaca !important;
	border-right: 1px solid #cacaca !important;
	border-bottom: 1px solid #cacaca !important;
}
.div-wrap {
	position: fixed;
	background-color: #fff;
	border-top: 5px solid #44bc42 !important;
	border-left: 1px solid #cacaca !important;
	border-right: 1px solid #cacaca !important;
	border-bottom: 1px solid #cacaca !important;
}
.div-wrap-f {
	background-color: #fff;
	border-top: 1px solid #cacaca !important;
	border-left: 1px solid #cacaca !important;
	border-right: 1px solid #cacaca !important;
	border-bottom: 1px solid #cacaca !important;
	height: 452px;
	padding: 0px !important;
}
.form-wrap-f {
	height:50px;
	width:100%;
	margin:0;
	padding-left: 30px;
	border-bottom: 1px solid #ccc;
}
.inner-flow-f {
	overflow: auto;
}
.form-f {
	height: 50px;
	width:100%;
	margin:0;
	outline: none;
	border: none;
	color: #555;
	border-bottom: 1px solid #ccc;
}
.bloc {
	float:left;
	display: inline-block;
	width: 40%;
}
.hint {
	height: 50px;
	float:left;
	display: inline-block;
	padding-top: 14px;
	padding-left: 10px;
	color: #ccc;
	width :60%;
}
.hp {
	height: 50px;
	width: 11%;
	border: 0px;
	background: #fff;
	border-bottom: 1px solid #ccc;
}
.hp-f {
	height: 50px;
	width: 30%;
	padding-left: 10px;
	border: none;
	outline: none;
	color: #555;
	border-bottom: 1px solid #ccc;
}
.rad {
	margin: 20px 10px 0 !important;
}
.sec-nav {
	background-color: #44bc42 !important;
}
.sec-nav ul {
	list-style: none;
}
.sec-nav li {
	display: inline-block !important;
	list-style: none;
	text-decoration: none;
	padding-right:30px;
	padding-top:10px;
}
.sec-nav a{
	color: #eee !important;
	text-decoration: none !important;
}
.sec-nav a:hover {
	color: #eee; !important
	text-decoration: none !important;
}
.sec-nav a:active {
	color: #fff !important;
	background-color: #33ab32;
}
.sub-text {
	font-size: 12px;
	display: inline-block;
	padding-left: 10px;
}
.left-padding {
	padding-left: 10px;
}
.atag a, .atag a:hover, .atag a:active {
	text-decoration: none !important;
	color: #111;
}
.red-box {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 30px;
	padding-left: 30px;
	border: 2px solid #e70000;
	color: #e70000;
}
.red-box a, .red-box a:hover, .red-box a:active {
	text-decoration: none;
	color: #e70000;
}
#heart { 
	position: relative; 
	width: 50px; 
	height: 44px; 
} 

#heart:before, #heart:after { 
	position: absolute; 
	content: ""; 
	left: 10px; 
	top: 0; 
	width: 10px; 
	height: 16px; 
	background: red; 
	border-radius: 25px 25px 0 0; 
	-webkit-transform: rotate(-45deg); 
	-moz-transform: rotate(-45deg); 
	-ms-transform: rotate(-45deg); 
	-o-transform: rotate(-45deg); 
	transform: rotate(-45deg); 
	-webkit-transform-origin: 0 100%; 
	-moz-transform-origin: 0 100%; 
	-ms-transform-origin: 0 100%; 
	-o-transform-origin: 0 100%; 
	transform-origin: 0 100%; 
} 

#heart:after { 
	left: 0; 
	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	-ms-transform: rotate(45deg); 
	-o-transform: rotate(45deg); 
	transform: rotate(45deg); 
	-webkit-transform-origin: 100% 100%; 
	-moz-transform-origin: 100% 100%; 
	-ms-transform-origin: 100% 100%; 
	-o-transform-origin: 100% 100%; 
	transform-origin :100% 100%; 
}

#heart-pink { 
	position: relative; 
	width: 50px; 
	height: 44px; 
} 

#heart-pink:before, #heart-pink:after { 
	position: absolute; 
	content: ""; 
	left: 10px; 
	top: 0; 
	width: 10px; 
	height: 16px; 
	background: pink; 
	border-radius: 25px 25px 0 0; 
	-webkit-transform: rotate(-45deg); 
	-moz-transform: rotate(-45deg); 
	-ms-transform: rotate(-45deg); 
	-o-transform: rotate(-45deg); 
	transform: rotate(-45deg); 
	-webkit-transform-origin: 0 100%; 
	-moz-transform-origin: 0 100%; 
	-ms-transform-origin: 0 100%; 
	-o-transform-origin: 0 100%; 
	transform-origin: 0 100%; 
} 

#heart-pink:after { 
	left: 0; 
	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	-ms-transform: rotate(45deg); 
	-o-transform: rotate(45deg); 
	transform: rotate(45deg); 
	-webkit-transform-origin: 100% 100%; 
	-moz-transform-origin: 100% 100%; 
	-ms-transform-origin: 100% 100%; 
	-o-transform-origin: 100% 100%; 
	transform-origin :100% 100%; 
}
.ul-block ul {
	list-style: none;
}
.ul-block li {
	display: inline-block !important;
	list-style: none;
	text-decoration: none;
	padding-top:14px;
	margin-right:10px;
}
.sign-active {
	border-bottom: 5px solid #44bc42;
	color: #44bc42;
}
.mg-r {
	margin-right: 25px;
	width: 150px;
}
.mart-pic-wrapper {
	width: 100%;
	overflow: hidden;
}
.mart-pic {
	width:33.33%;
	height: 350px;
	display: inline-block;
	float: left;
	overflow: hidden;
	padding: 0;
}
.landimg {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}
.leaf-wrapper {
	margin: auto;
	cursor: pointer;
}
.leaf-preview {
	margin: 10px;
	float: left;
	width: 120px;
	height: 90px;
	border: 1px solid #333;
	display: block;
	background-size: cover;
	cursor: pointer;
}
#midimg {
	cursor: pointer;
}
.fullimg-wrapper {
	width:100%;
	height:auto;
}
.ebor {
	border: 3px solid #ccc;
	border-radius: 8px;
	margin-right: 60px;
	margin-left: 60px;
	margin-bottom :10px;
}
.ebor-active{
	border: 3px solid #44bc42;
	border-radius: 8px;
	margin-right: 60px;
	margin-left: 60px;
	margin-bottom :10px;
}
.margin-thumnail {
	margin: 4px;
	width: 80px;
	height:60px;
}
.img-thumnail {
	width: 80px;
	height: 50px !important;
	display: block !important;
}
.red {
	color: red;
}
